<div class="container text-center">

    <p class="mb-1"><i class="fa-light fa-money-bill-transfer"></i> 60-Day 100% Money Back Guarantee</p>
    <p class="mb-1"><i class="fa-light fa-calendar-days"></i> 5-Year Warranty</p>
   <p class="mb-1"><i class="fak fa-flagicon"></i> US Support</p>

</div>